<p-toast/>
<p-dialog
  header="Detalhes do Pagamento"
  [(visible)]="visibilidade"
  [draggable]="false"
  [modal]="true"
  [style]="{ maxWidth: '800px', width: '100%' }"
  (onHide)="fecharDialog()"
>
  @if (!pagamentoSelecionado) {
    <div class="loading">
      <p-progressSpinner></p-progressSpinner>
    </div>
  } @else {
    <p-tabs [value]="etapa">
      <p-tablist>
        <p-tab [value]="0">Informações</p-tab>
        <p-tab [value]="1" [disabled]="!habilitarAcessarComprovante"
          >Comprovante</p-tab
        >
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="0">
          <section class="informacoes-pagamento">
            @if (carregandoInformacoesConsultaPagamento) {
              <p-skeleton height="150px" />
            } @else {
              <p-fieldset legend="Informações do Pagamento">
                <div class="informacoes">
                  <div id="info">
                    <strong>Valor: </strong>
                    <span>
                      R${{ pagamentoSelecionado.valor | currency: "BRL" }}
                    </span>
                  </div>
                  <div id="info">
                    <strong>Data Limite: </strong>
                    <span>
                      {{ pagamentoSelecionado.dataLimitePagamento }}
                    </span>
                  </div>
                  <div class="badges">
                    <span
                      [ngClass]="
                        'status-pagamento ' +
                        pagamentoSelecionado.statusPagamento.toLowerCase()
                      "
                      >{{ pagamentoSelecionado.statusPagamento }}</span
                    >
                    <span
                      id="pagamento-atrasado"
                      [ngClass]="
                        pagamentoSelecionado.atrasado ? 'atrasado' : 'em-tempo'
                      "
                    >
                      {{
                        pagamentoSelecionado.atrasado ? "Atrasado" : "Em Tempo"
                      }}
                    </span>
                  </div>
                </div>
              </p-fieldset>
              <hr />
              <p-fieldset legend="Consulta" [toggleable]="true">
                @if (consultaPagamento) {
                  <div class="consulta-card">
                    <div
                      style="
                        min-width: 200px;
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                      "
                    >
                      <div class="body-card">
                        <app-bag-status-consulta
                          [status]="consultaPagamento.statusConsulta"
                        ></app-bag-status-consulta>
                        <strong
                          >Veterinário:
                          {{ consultaPagamento.veterinarioConsulta }}</strong
                        >
                        <span class="tipo-consulta">{{
                          consultaPagamento.tipoConsulta
                        }}</span>
                      </div>
                      <hr />
                      <div>
                        <span class="solicitado-em"
                          >Data e Hora da Consulta:
                          {{
                            consultaPagamento.dataHoraConsulta
                              | date: "dd/MM/yyyy - HH:mm"
                          }}</span
                        >
                      </div>
                    </div>
                    <p-button
                      label="Ver"
                      icon="fa fa-eye"
                      severity="secondary"
                      (click)="acessarConsulta()"
                    />
                  </div>
                } @else {
                  <span class="sem-resultados">
                    Nenhuma consulta para esse pagamento!
                  </span>
                }
              </p-fieldset>
            }
          </section>
        </p-tabpanel>
        <p-tabpanel [value]="1">
          <section class="comprovante-pagamento">
            @if (pagamentoSelecionado.statusPagamento === "REPROVADO") {
              <p-fieldset legend="Motivo da Reprovação" [toggleable]="true">
                <div class="input-group">
                  <label for="motivo"
                    >O atendente:
                    {{ informacoesComprovante?.atendente }} reprova o pagamento,
                    pois:
                  </label>
                  <textarea
                    name="motivo"
                    id="motivo"
                    pTextarea
                    rows="5"
                    [value]="informacoesComprovante?.motivoIndeferimento"
                    disabled
                  ></textarea>
                </div>
              </p-fieldset>
              <hr />
            }
            @if (novaFormaPagamento !== pagamentoSelecionado.tipoPagamento) {
              <p>
                Caso altere a forma de pagamento, e já tiver enviado um
                comprovante, o mesmo sera perdido!
              </p>
            }
            <p-inputgroup>
              <p-inputgroup-addon>
                <i [ngClass]="iconePagamento(novaFormaPagamento)"></i>
              </p-inputgroup-addon>
              <p-select
                [options]="formasPagamento"
                appendTo="body"
                optionLabel="label"
                optionValue="value"
                placeholder="Forma de Pagamento"
                [(ngModel)]="novaFormaPagamento"
                [disabled]="pagamentoSelecionado.statusPagamento === 'APROVADO'"
              />
              <p-inputgroup-addon>
                <p-button
                  pTooltip="Alterar Forma Pagamento"
                  severity="info"
                  icon="fa fa-edit"
                  [disabled]="
                    pagamentoSelecionado.statusPagamento === 'APROVADO' ||
                    novaFormaPagamento === pagamentoSelecionado.tipoPagamento
                  "
                  (click)="alterarFormaPagamento()"
                />
              </p-inputgroup-addon>
            </p-inputgroup>
            <p-fieldset legend="Comprovante" [toggleable]="true">
              @if (informacoesComprovante) {
                <div class="informacoes-comprovante">
                  <p-button
                    icon="fa fa-download"
                    severity="info"
                    [disabled]="informacoesComprovante.uuid === ''"
                    pTooltip="Baixar comprovante"
                    (click)="baixarComprovante()"
                  />
                  <p-fileupload
                    #fu
                    mode="basic"
                    [chooseLabel]="
                      informacoesComprovante.uuid === ''
                        ? 'Carregar'
                        : 'Alterar'
                    "
                    chooseIcon="pi pi-upload"
                    [multiple]="false"
                    name="demo[]"
                    [fileLimit]="1"
                    accept="image/*"
                    maxFileSize="1000000"
                    (onSelect)="carregarArquivo($event)"
                    [auto]="true"
                    [disabled]="
                      pagamentoSelecionado.statusPagamento === 'APROVADO'
                    "
                  >
                  </p-fileupload>
                  <div
                    class="nome-arquivo"
                    [innerText]="getTituloComprovante"
                  ></div>
                  <span class="tipo-arquivo">{{ getTipoComprovante }}</span>
                </div>
                <hr />
                <p-button
                  label="Enviar"
                  icon="fa fa-send"
                  severity="success"
                  [style]="{ width: '100%' }"
                  [disabled]="
                    novoArquivo === undefined ||
                    pagamentoSelecionado.statusPagamento === 'APROVADO'
                  "
                  (click)="enviarComprovante()"
                />
              } @else {
                <span class="sem-resultados">
                  {{
                    pagamentoSelecionado.tipoPagamento !== "PIX"
                      ? "O tipo de pagamento escolhido não possui comprovante"
                      : "Nenhum comprovante para esse pagamento!"
                  }}
                </span>
              }
            </p-fieldset>
          </section>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  }
</p-dialog>
