<p-confirmdialog />
<p-toast />
<main>
  <section>
    @if (carregandoConsultas) {
      <p-skeleton height="300px" width="calc(70% - 0.5rem)"> </p-skeleton>
    } @else {
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="header-fieldset">
            <i class="fas fas fas fa-clipboard-check"></i><span>Consultas</span>
          </div>
        </ng-template>
        <p-dataview #dv [value]="consultas" [paginator]="true" [rows]="6">
          <ng-template #list let-consultas>
            <div class="lista-consultas">
              @for (consulta of consultas; track consulta.id) {
                <div
                  [ngClass]="'card-consulta ' + consulta.status.toLowerCase()"
                >
                  <div class="badges">
                    <span [ngClass]="'status ' + consulta.status.toLowerCase()">
                      {{ consulta.status | titlecase }}
                    </span>
                    <span class="tipo-consulta">
                      {{ consulta.tipoConsulta }}
                    </span>
                  </div>
                  <div class="informacoes">
                    <div>
                      <span class="info">
                        <i class="fa fas fa-user"></i>
                        {{ consulta.solicitante }}
                      </span>
                      <span class="info">
                        <i class="fa fas fa-paw"></i>
                        {{ consulta.pet }}
                      </span>
                      <span class="info">
                        <i class="fa fas fa-user-md"></i>
                        {{ consulta.veterinario }}
                      </span>
                      <span class="data-consulta">
                        <i class="fa fas fa-calendar"></i>
                        {{ consulta.dataConsulta }}
                      </span>
                    </div>
                    <p-button
                      icon="fa fa-eye"
                      severity="secondary"
                      (click)="selecionarConsulta(consulta)"
                    />
                  </div>
                  @if (
                    consulta.status === "Cancelado" ||
                    consulta.status === "Reprovada"
                  ) {
                    <div class="cancelada-indeferida">
                      <span>
                        {{ gerarTextoCancelamentoIndeferimento(consulta) }}
                      </span>
                    </div>
                  }
                </div>
              }
            </div>
          </ng-template>
          <ng-template #emptymessage>
            <span class="sem-resultados">Nenhuma consulta encontrada!</span>
          </ng-template>
        </p-dataview>
      </p-fieldset>
    }
    @if (carregandoSolicitacoes) {
      <p-skeleton height="300px" width="calc(30% - 0.5rem)"> </p-skeleton>
    } @else {
      <p-fieldset>
        <ng-template pTemplate="header">
          <div class="header-fieldset">
            <i class="fas fas fas fa-clipboard-list"></i
            ><span>Consultas Solicitadas</span>
          </div>
        </ng-template>
        <p-dataview
          #dv
          [value]="solicitacoesConsultas"
          [paginator]="true"
          [rows]="6"
        >
          <ng-template #list let-solicitacoes>
            <div class="lista-solicitacoes-consultas">
              @for (solicitacao of solicitacoes; track solicitacao.id) {
                <div
                  [ngClass]="
                    'solicitacao-consulta-card ' +
                    solicitacao.status.toLowerCase()
                  "
                >
                  <div class="badges">
                    <span
                      [ngClass]="'status ' + solicitacao.status.toLowerCase()"
                    >
                      {{ solicitacao.status | titlecase }}
                    </span>
                    <span class="tipo-consulta">
                      {{ solicitacao.tipoConsulta }}
                    </span>
                  </div>
                  <div class="informacoes">
                    <span class="info">
                      <i class="fa fa-user"></i>
                      {{ solicitacao.solicitante }}
                    </span>
                    <span class="info">
                      <i class="fa fa-paw"></i>
                      {{ solicitacao.pet }}
                    </span>
                    <span class="info">
                      <i class="fa fa-user-md"></i>
                      {{ solicitacao.veterinario }}
                    </span>
                    <span class="info">
                      <i class="fa fa-calendar"></i>
                      {{ solicitacao.dataConsulta }}
                    </span>
                  </div>
                  <span class="data">
                    <i class="fa fa-clock"></i>
                    {{ solicitacao.solicitadoEm }}
                  </span>
                  <div class="acoes">
                    <p-button
                      label="Aprovar"
                      severity="success"
                      rounded="true"
                      icon="pi pi-check"
                      fluid="true"
                      size="small"
                      (click)="aprovarConsulta(solicitacao)"
                    />
                    <p-button
                      label="Reprovar"
                      severity="danger"
                      rounded="true"
                      icon="pi pi-trash"
                      fluid="true"
                      size="small"
                      variant="outlined"
                      (click)="selecionarSolicitacaoConsulta(solicitacao)"
                    />
                  </div>
                </div>
              }
            </div>
          </ng-template>
          <ng-template #emptymessage>
            <span class="sem-resultados"
              >Nenhuma solicitação de consulta encontrada!</span
            >
          </ng-template>
        </p-dataview>
      </p-fieldset>
    }
  </section>
</main>

<p-dialog
  header="Reprovar Consulta"
  [(visible)]="visibilidadeSolicitacaoConsulta"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50vw' }"
>
  <span class="motivo">
    Informe o motivo do indeferimento da solicitação de consulta
  </span>
  <hr />
  <div class="motivo-indeferimento">
    <label for="motivoIndeferimento">Motivo do Indeferimento</label>
    <textarea
      name="motivoIndeferimento"
      id="motivoIndeferimento"
      pTextarea
      [(ngModel)]="solicitacaoConsultaSelecionada.motivo"
      [autoResize]="true"
    ></textarea>
  </div>
  <br />
  <p-button
    label="Reprovar"
    severity="danger"
    [rounded]="true"
    icon="pi pi-trash"
    fluid="true"
    size="small"
    [disabled]="!habilitarBotaoEnviarReprova"
    (click)="reprovarConsulta()"
  />
</p-dialog>
<app-detalhes-consulta
  (visibilidadeChange)="fecharDialogDetalhesConsulta()"
  [visibilidade]="visibilidadeDialogDetalhesConsulta"
  [consultaSelecionada]="consultaSelecionada"
></app-detalhes-consulta>
