span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 0.5em;
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 600;
  border: 2px solid var(--color-border);
  background-color: var(--color-hover);
  color: var(--color-text);

  &.erro {
    border-color: var(--bag-reprovado);
    background-color: var(--bag-reprovado-foreground);
    color: var(--bag-reprovado);
  }

  &.login,
  &.registro {
    border-color: var(--color-card-primary);
    background-color: var(--color-card-primary-foreground);
    color: var(--color-card-primary);
  }
}
