<main>
  <section class="chat">
    <div class="mensagens">
        @for (mensagem of mensagens; track mensagem.id) {
          <div [ngClass]="mensagem.enviadoPorVoce ? 'mensagem voce' : 'mensagem'">
              {{ mensagem.mensagem }}
              <span class="data">
                {{ mensagem.enviadoEm | date: "dd/MM/yyyy HH:mm:ss" }}
              </span>
          </div>
        }
    </div>
    <hr>
    @if (atendimentoFinalizado) {
      <p class="atendimento-finalizado-aviso">
        Este atendimento foi finalizado pelo cliente.
      </p>
    }
    <div class="formulario">
      <input type="text" pInputText placeholder="Digite sua mensagem..." [(ngModel)]="mensagem" [disabled]="atendimentoFinalizado" />
      <p-button icon="fa fa-send" severity="secondary" (click)="enviar()" [disabled]="atendimentoFinalizado" />
    </div>
  </section>
  <p-fieldset legend="Detalhes do Atendimento">
  </p-fieldset>
</main>
