main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  .informacoes-usuario {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    &.imagem {
      align-items: center;
    }

    form {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      .input-group {
        margin: 0;
        flex: 1 1 calc(50% - 0.5rem);
      }
    }
  }

  .acoes {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .outras-informacoes {
    display: flex;
    flex-wrap: wrap;

    &.cliente {
      gap: 1rem;

      p-fieldset {
        flex: 1 1 calc(50% - 0.5rem);

        .avaliacoes {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .card-avaliacao {
            border: 1px solid var(--color-border);
            background-color: var(--card);
            border-radius: 8px;
            padding: 0.5rem;
            border-left: 5px solid var(--color-card-primary);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;

            &:nth-child(even) {
              border-left: 5px solid var(--color-card-secondary);
            }

            .icon {
              display: flex;
              padding: 0.5rem;
              border-radius: 4px;
              color: var(--color-text);
              font-size: 1.5rem;
            }

            .body {
              display: flex;
              flex-direction: column;
              gap: 0.12rem;
              flex: 1;
              margin: 0 0.25rem;

              span.mensagem {
                font-size: 0.9rem;
              }

              span.data {
                font-size: 0.8rem;
                color: var(--color-text);
              }
            }

            strong {
              font-size: 1.5rem;
              color: var(--color-card-primary);
              width: 35px;
              height: 35px;
              border: 1px solid var(--color-border);
              border-radius: 4px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .pagamentos {
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;

          .questao-financeira {
            flex: 1 1 calc(25% - 0.5rem);
            min-width: 150px;
            min-height: 300px;
            border: 1px solid var(--color-border);
            background-color: var(--card);
            border-radius: 8px;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h2 {
              margin: 0.25rem;
              font-size: 2rem;
              color: var(--color-success);
            }

            &.pendente h2 {
              color: var(--color-danger);
            }

            hr {
              width: 100%;
            }

            span {
              font-size: 0.9rem;
              color: var(--color-text);
            }

            strong {
              color: var(--color-success);
            }

            &.pendente strong {
              color: var(--color-danger);
            }
          }

          .lista-pagamentos {
            border: 1px solid var(--color-border);
            background-color: var(--card);
            border-radius: 8px;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            flex: 1 1 calc(75% - 0.5rem);
            min-width: 150px;

            .pagamentos {
              display: flex;
              flex-direction: column;
              gap: 1rem;

              .card-pagamento {
                display: flex;
                align-items: center;
                border: 1px solid var(--color-border);
                border-radius: 8px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 1rem;

                div {
                  gap: 1rem;
                  display: flex;
                  flex-wrap: wrap;

                  &.body-card {
                    align-items: center;
                  }
                }

                &:nth-child(even) {
                  border-left: 5px solid var(--color-card-primary);
                }

                &:nth-child(odd) {
                  border-left: 5px solid var(--color-card-secondary);
                }

                .forma-pagamento {
                  width: 45px;
                  height: 45px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 10px;
                  background-color: var(--color-border);
                  color: var(--color-title);
                }

                .motivo-valor,
                .data-valor {
                  display: flex;
                  flex-direction: column;
                  gap: 0.25rem;

                  strong {
                    color: var(--color-title);
                  }

                  span {
                    color: var(--color-text);
                    font-size: 0.8em;

                    &.motivo {
                      color: var(--color-danger);
                    }
                  }
                }

                .badges {
                  display: flex;
                  flex-wrap: wrap;
                  gap: 0.5rem;

                  span.status-pagamento {
                    padding: 0.5rem;
                    border-radius: 8px;
                    border: 1px solid var(--color-border);
                    font-weight: 600;
                    font-size: 0.8em;
                    right: 0;
                    position: relative;
                    float: right;

                    &.atrasado,
                    &.reprovado {
                      border-color: var(--bag-reprovado);
                      color: var(--bag-reprovado);
                      background-color: var(--bag-reprovado-foreground);
                    }

                    &.em-tempo,
                    &.pendente {
                      border-color: var(--bag-pendente);
                      color: var(--bag-pendente);
                      background-color: var(--bag-pendente-foreground);
                    }

                    &.enviado {
                      border-color: var(--bag-iniciado);
                      color: var(--bag-iniciado);
                      background-color: var(--bag-iniciado-foreground);
                    }

                    &.aprovado {
                      border-color: var(--aprovado);
                      color: var(--aprovado);
                      background-color: var(--aprovado-foreground);
                    }
                  }
                  span {
                    padding: 0.5rem;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 0.8em;
                    &.em-tempo {
                      border: 1px solid var(--bag-pendente);
                      color: var(--bag-pendente);
                      background-color: var(--bag-pendente-foreground);
                    }

                    &.atrasado {
                      border: 1px solid var(--bag-reprovado);
                      color: var(--bag-reprovado);
                      background-color: var(--bag-reprovado-foreground);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .informacoes-atendente {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    p-fieldset {
      flex: 1 1 calc(50% - 0.5rem);
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      min-width: 300px;

      &:nth-child(2) {
        flex: 1 1 calc(25% - 0.5rem);
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .pontuacao {
          hr {
            margin: 0.25rem 0;
          }

          .card-avaliacoes {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            span {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              font-weight: 600;

              h2 {
                margin: 0;
              }
            }

            .melhor-pior {
              display: flex;
              gap: 0.5rem;

              .pior,
              .melhor {
                border: 1px solid var(--color-border);
                background: var(--card);
                border-radius: 4px;
                padding: 0.25rem 1rem;
                display: flex;
                width: 100%;
                min-width: 100px;
                gap: 0.5rem;
                flex-wrap: wrap;
                flex-direction: column;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &.melhor {
                  border-left: 5px solid var(--color-card-primary);
                }

                &.pior {
                  border-left: 5px solid var(--color-danger);
                }

                .header {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;

                  h4 {
                    margin: 0.25rem;
                  }

                  span {
                    font-size: 0.8em;
                    font-weight: 400;
                    color: var(--color-text);
                  }
                }

                .mensagem p {
                  margin: 0;
                  font-size: 0.8em;
                  max-height: 100px;
                  overflow-y: auto;
                }
              }
            }

            .lista-avaliacoes {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .card-avaliacao {
                border: 1px solid var(--color-border);
                background: var(--card);
                border-radius: 4px;
                padding: 0.25rem 1rem;
                display: flex;
                width: 100%;
                min-width: 100px;
                gap: 0.5rem;
                flex-wrap: wrap;
                flex-direction: column;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &.melhor {
                  border-left: 5px solid var(--color-card-primary);
                }

                &.pior {
                  border-left: 5px solid var(--color-danger);
                }

                .header {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;

                  h4 {
                    margin: 0.25rem;
                  }

                  span {
                    font-size: 0.8em;
                    font-weight: 400;
                    color: var(--color-text);
                  }
                }

                .mensagem p {
                  margin: 0;
                  font-size: 0.8em;
                  max-height: 100px;
                  overflow-y: auto;
                }
              }
            }
          }

          .card-sem-avaliacoes {
            border: 1px solid var(--color-border);
            background-color: var(--card);
            border-radius: 8px;
            padding: 1rem;
            text-align: center;
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            i {
              font-size: 4rem;
            }

            .infos {
              text-align: start;

              h4 {
                margin: 0.25rem 0;
                font-size: 1rem;
              }

              span {
                font-size: 0.9rem;
                color: var(--color-text);
              }
            }
          }
        }
      }

      .lista-consultas {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card-consulta {
          border: 1px solid var(--color-border);
          padding: 0.75rem 0.5rem;
          border-radius: 4px;
          background-color: var(--card);
          display: flex;
          flex-direction: column;
          gap: 0.75rem;
          padding-left: 1rem;

          &.finalizado,
          &.aprovada {
            border-left: 5px solid var(--color-card-primary);
          }

          &.cancelado,
          &.reprovada {
            border-left: 5px solid var(--bag-reprovado);
          }

          &.iniciado {
            border-left: 5px solid var(--bag-iniciado);
          }

          &.pendente {
            border-left: 5px solid var(--bag-pendente);
          }

          .badges {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: space-between;

            span {
              color: var(--color-text);
              font-weight: 600;
              border: 1px solid var(--color-border);
              border-radius: 12px;
              font-size: 0.8rem;
              padding: 0.15rem 0.5rem;

              &.finalizado,
              &.aprovada {
                border-color: var(--color-card-primary);
                color: var(--color-card-primary);
                background-color: var(--color-card-primary-foreground);
              }

              &.cancelado,
              &.reprovada {
                border-color: var(--bag-reprovado);
                color: var(--bag-reprovado);
                background-color: var(--bag-reprovado-foreground);
              }

              &.iniciado {
                border-color: var(--bag-iniciado);
                color: var(--bag-iniciado);
                background-color: var(--bag-iniciado-foreground);
              }

              &.pendente {
                border-color: var(--bag-pendente);
                color: var(--bag-pendente);
                background-color: var(--bag-pendente-foreground);
              }
            }
          }

          .informacoes {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: space-between;
            div {
              display: flex;
              flex-wrap: wrap;
              gap: 1rem;
              align-items: center;
              font-size: 14px;

              i {
                color: var(--color-text);
              }
            }
          }

          span.data-consulta {
            font-size: 14px;
            color: var(--color-text);
          }

          .cancelada-indeferida {
            padding: 0.5rem;
            border: 1px solid var(--bag-reprovado);
            font-size: 14px;
            color: var(--bag-reprovado);
            background-color: var(--bag-reprovado-foreground);
            border-radius: 4px;
          }
        }
      }
    }
  }

  .informacoes-gerente {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    p-fieldset {
      flex: 1 1 calc(50% - 0.5rem);
    }
  }
}

.mensagem-desativacao {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--text-color);
  width: 80%;
  margin: 0 auto;

  i {
    font-size: 2rem;
  }
}
