<main>
  <p-fieldset legend="Filtros" [toggleable]="false">
    <div class="filtros">
      <div class="inputs">
        <div class="input-group">
          <label for="nome">Nome do Cliente</label>
          <input
            [(ngModel)]="filtros.nome"
            type="text"
            pInputText
            id="nome"
            placeholder="Digite o nome do cliente"
            (input)="filtrarClientes()"
          />
        </div>
        <div class="input-group">
          <label for="genero">Genero do Cliente</label>
          <p-select
            [options]="generos"
            [(ngModel)]="filtros.genero"
            appendTo="body"
            placeholder="Selecione um gênero"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione um tipo de movimentação"
            (onChange)="filtrarClientes()"
          />
        </div>
      </div>
      <div class="btns">
        <p-button
          label="Limpar Filtros"
          severity="danger"
          icon="fa fa-eraser"
          (click)="limparFiltros()"
        />
        <p-button
          label="Gerar Relatório"
          severity="success"
          [icon]="carregandoRelatorio ? 'fa fa-load' : 'fa fa-file'"
          (click)="gerarRelatorioClientes()"
          [disabled]="carregandoRelatorio"
        />
      </div>
    </div>
  </p-fieldset>
  <hr />
  <p-fieldset legend="Clientes" [toggleable]="false">
    @if (clientesFiltrados.length > 0) {
      <p-dataview
        [value]="clientesFiltrados"
        [style]="{ width: '100%' }"
        [rows]="5"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Exibindo {first} de {last} de {totalRecords}"
        [rowsPerPageOptions]="[5, 10, 20]"
      >
        <ng-template #list let-items>
          <section class="lista-clientes">
            @for (cliente of items; track cliente.id) {
              <div [class]="'card-clientes ' + cliente.genero.toLowerCase()">
                <div class="imagem-cliente"></div>
                <div class="informacoes">
                  <div class="header">
                    <h3>{{ cliente.nome }}</h3>
                    <strong
                      ><i class="pi pi-phone"></i>{{ cliente.telefone }}</strong
                    >
                  </div>
                  <div class="outras">
                    <app-genero-bag [genero]="cliente.genero"></app-genero-bag>
                    <span
                      >Registrado em
                      {{ cliente.registradoEm | date: "dd/MM/yyyy" }}</span
                    >
                  </div>
                </div>
                <button
                  pButton
                  [severity]="'secondary'"
                  icon="fa fa-user"
                  (click)="verDetalhesCliente(cliente.id)"
                >
                  Acessar Perfil
                </button>
              </div>
            }
          </section>
        </ng-template>
        <ng-template #emptymessage>
          <span class="sem-resultados">Nenhum cliente encontrado!</span>
        </ng-template>
      </p-dataview>
    } @else {
      @if (filtros.nome.trim() !== "" || filtros.genero !== "") {
        <strong>Nenhum cliente com os dados filtrados encontrado!</strong>
      } @else {
        <strong>Nenhum cliente cadastrado!</strong>
      }
    }
  </p-fieldset>
</main>
