input,
.p-button {
  border-radius: 2px !important;
}

.p-fieldset,
.p-password-input {
  width: 100%;
}

p-paginator {
  margin-top: 1rem;
  border-radius: 0 !important;
}

textarea {
  resize: vertical;
  overflow-y: auto;
}