main {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 1rem;

  hr {
    border: none;
    border-top: 1px solid var(--color-border);
    margin: 1rem 0;
  }

  section.cards {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;

    div.card {
      flex: 1 1 calc(33% - 0.5rem);
      min-width: 200px;
      border: 1px solid var(--color-border);
      border-radius: 12px;
      padding: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: var(--card);
      gap: 1rem;

      .icon {
        font-size: 2em;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-color: var(--color-border);

        &.valor {
          color: var(--aprovado);
          border: 1px solid var(--aprovado);
          background-color: var(--aprovado-foreground);
        }

        &.quantidade {
          color: var(--bag-pendente);
          border: 1px solid var(--bag-pendente);
          background-color: var(--bag-pendente-foreground);
        }

        &.limite {
          color: var(--bag-reprovado);
          border: 1px solid var(--bag-reprovado);
          background-color: var(--bag-reprovado-foreground);
        }
      }

      div.informacoes {
        text-align: left;
        display: flex;
        flex-direction: column;
        span {
          color: var(--color-text);
        }
        strong {
          color: var(--color-title);
        }
      }
    }
  }

  section .filtros {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: space-between;

    .inputs {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 1rem;
    }

    .botoes {
      align-items: center;
      padding-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 1rem;
    }
  }

  #icone-quantidade {
    font-size: 1.2em;
  }
}
