<main>
  <section class="cards">
    @if (carregandoInformacoesCards) {
      <span style="display: flex; gap: 1rem; width: 100%">
        <p-skeleton height="140px" />
        <p-skeleton height="140px" />
        <p-skeleton height="140px" />
      </span>
    } @else {
      <div class="card-pagamentos">
        <i class="fa far fa-clipboard"></i>
        <div class="infos">
          <span>Pagamentos Efetuados</span>
          <h4>
            {{ informacoesCards.pagamentosEfetuados }} Pagamento(s) efetuado(s)
          </h4>
        </div>
      </div>
      <div class="card-pagamentos">
        <i class="fa far far fa-clock"></i>
        <div class="infos">
          <span>Pagamentos Atrasados</span>
          <h4>
            {{ informacoesCards.pagamentosAtrasados }} Pagamentos(s) atrasados
          </h4>
        </div>
      </div>
      <div class="card-pagamentos">
        <i class="fa far fa-thumbs-down"></i>
        <div class="infos">
          <span>Pagamentos Reprovados</span>
          <h4>
            {{ informacoesCards.pagamentosReprovados }} Pagamento(s) reprovados
          </h4>
        </div>
      </div>
    }
  </section>
  <hr />
  <section class="pagamentos">
    @if (carregandoPagamentosPendentesAtrasados) {
      <p-skeleton height="250px" width="calc(50% - 0.5rem)" />
    } @else {
      <p-fieldset
        legend="Pagamentos Pendentes ou Atrasados"
        [toggleable]="false"
      >
        <p-dataview
          #dv
          [value]="pagamentosPendentesAtrasados"
          [paginator]="true"
          [rows]="3"
        >
          <ng-template #list let-pagamentos>
            <div class="lista-pagamentos">
              @for (pagamento of pagamentos; track pagamento.id) {
                <div class="card-pagamento">
                  <div class="forma-pagamento">
                    <i
                      [class]="iconePagamento(pagamento.tipoPagamento)"
                      [pTooltip]="pagamento.tipoPagamento | titlecase"
                    ></i>
                    <div class="body-card">
                      <strong>
                        Valor: {{ pagamento.valor | currency: "BRL" }}
                      </strong>
                      <span class="data-limite">
                        Data Limite: {{ pagamento.dataLimitePagamento }}
                      </span>
                    </div>
                  </div>
                  <div class="badges">
                    <div
                      [ngClass]="
                        'status-pagamento ' +
                        pagamento.statusPagamento.toLowerCase()
                      "
                    >
                      {{ pagamento.statusPagamento }}
                    </div>
                    <div
                      id="pagamento-atrasado"
                      [ngClass]="pagamento.atrasado ? 'atrasado' : 'em-tempo'"
                    >
                      {{ pagamento.atrasado ? "Atrasado" : "Em Tempo" }}
                    </div>
                    <p-button
                      icon="fa fa-eye"
                      severity="secondary"
                      pTooltip="Acessar Pagamento"
                      tooltipPosition="left"
                      (click)="selecionarPagamento(pagamento)"
                    />
                  </div>
                </div>
              }
            </div>
          </ng-template>
          <ng-template #emptymessage>
            <span class="sem-resultados">Nenhum pagamento pendente ou atrasado!</span>
          </ng-template>
        </p-dataview>
      </p-fieldset>
    }
    @if (carregandoPagamentosReprovados) {
      <p-skeleton height="250px" width="calc(50% - 0.5rem)" />
    } @else {
      <p-fieldset legend="Pagamentos Reprovados" [toggleable]="false">
        <p-dataview
          #dv
          [value]="pagamentosReprovados"
          [paginator]="true"
          [rows]="6"
        >
          <ng-template #list let-pagamentos>
            <div class="lista-pagamentos">
              @for (pagamento of pagamentos; track pagamento.id) {
                <div class="card-pagamento">
                  <div class="forma-pagamento">
                    <i
                      [class]="iconePagamento(pagamento.tipoPagamento)"
                      [pTooltip]="pagamento.tipoPagamento | titlecase"
                    ></i>
                    <div class="body-card">
                      <strong>
                        Valor: {{ pagamento.valor | currency: "BRL" }}
                      </strong>
                      <span class="data-limite">
                        Data Limite: {{ pagamento.dataLimitePagamento }}
                      </span>
                    </div>
                  </div>
                  <div class="badges">
                    <div
                      [ngClass]="
                        'status-pagamento ' +
                        pagamento.statusPagamento.toLowerCase()
                      "
                    >
                      {{ pagamento.statusPagamento }}
                    </div>
                    <div
                      id="pagamento-atrasado"
                      [ngClass]="pagamento.atrasado ? 'atrasado' : 'em-tempo'"
                    >
                      {{ pagamento.atrasado ? "Atrasado" : "Em Tempo" }}
                    </div>
                    <p-button
                      icon="fa fa-eye"
                      severity="secondary"
                      pTooltip="Acessar Pagamento"
                      tooltipPosition="left"
                      (click)="selecionarPagamento(pagamento)"
                    />
                  </div>
                </div>
              }
            </div>
          </ng-template>
          <ng-template #emptymessage>
            <span class="sem-resultados">Nenhum pagamento reprovado!</span>
          </ng-template>
        </p-dataview>
      </p-fieldset>
    }
    @if (carregandoHistoricoPagamentos) {
      <p-skeleton height="330px" width="100%" />
    } @else {
      <p-fieldset legend="Histórico de Pagamentos" [toggleable]="false">
        <p-dataview
          #dv
          [value]="historicoPagamentos"
          [paginator]="true"
          [rows]="6"
        >
          <ng-template #list let-pagamentos>
            <div class="lista-pagamentos">
              @for (pagamento of pagamentos; track pagamento.id) {
                <div class="card-pagamento">
                  <div class="forma-pagamento">
                    <i
                      [class]="iconePagamento(pagamento.tipoPagamento)"
                      [pTooltip]="pagamento.tipoPagamento | titlecase"
                    ></i>
                    <div class="body-card">
                      <strong>
                        Valor: {{ pagamento.valor | currency: "BRL" }}
                      </strong>
                      <span class="data-limite">
                        Data Limite: {{ pagamento.dataLimitePagamento }}
                      </span>
                    </div>
                  </div>
                  <div class="badges">
                    <div
                      [ngClass]="
                        'status-pagamento ' +
                        pagamento.statusPagamento.toLowerCase()
                      "
                    >
                      {{ pagamento.statusPagamento }}
                    </div>
                    <div
                      id="pagamento-atrasado"
                      [ngClass]="pagamento.atrasado ? 'atrasado' : 'em-tempo'"
                    >
                      {{ pagamento.atrasado ? "Atrasado" : "Em Tempo" }}
                    </div>
                    <p-button
                      icon="fa fa-eye"
                      severity="secondary"
                      pTooltip="Acessar Pagamento"
                      tooltipPosition="left"
                      (click)="selecionarPagamento(pagamento)"
                    />
                  </div>
                </div>
              }
            </div>
          </ng-template>
          <ng-template #emptymessage>
            <span class="sem-resultados">Nenhum pagamento finalizado ou enviado!</span>
          </ng-template>
        </p-dataview>
      </p-fieldset>
    }
  </section>
</main>
<app-detalhes-pagamento
  [pagamentoSelecionado]="pagamentoSelecionado"
  [visibilidade]="visibilidadeDialogDetalhesPagamento"
  [(visibilidade)]="visibilidadeDialogDetalhesPagamento"
  (alteracoesEfetuadas)="carregarAlteracoes()"
></app-detalhes-pagamento>
