main {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  color: var(--color-text);
  grid-gap: 1em;

  .logo {
    display: flex;
    gap: 0.5em;
    align-items: center;

    .img-logo {
      width: 3em;
      height: 3em;
      background: url("../../../../../../../public/logo.png") center center
        no-repeat;
      background-size: contain;
    }
  }

  h2 {
    font-size: 1.5em;
    span {
      font-size: 1em;
      color: #dec123;
    }
  }

  form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;

    .input-group {
      display: flex;
      flex-direction: column;
      grid-gap: 0.5em;
    }
  }

  .divider {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 1em 0;

    i {
      flex: 1;
      height: 1px;
      background-color: var(--color-text);
    }

    span {
      font-size: 14px;
      color: var(--color-text);
    }
  }

  .arquivo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .botoes {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
  }
}
