<p-dialog
  header="Detalhes Consulta"
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50vw' }"
  (onHide)="fechar()"
>
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Informações</p-tab>
      <p-tab value="1">Participantes</p-tab>
      <p-tab value="2">Pagamento</p-tab>
      <p-tab value="3" [disabled]="!consultaPodeSerAvaliada">Avaliação</p-tab>
    </p-tablist>

    <p-tabpanels>
      <!-- Informações -->
      <p-tabpanel value="0">
        <div class="informacoes">
          <div class="bags">
            <app-bag-status-consulta [status]="consulta?.statusConsulta"></app-bag-status-consulta>
            <span class="tipo-consulta">{{ consulta?.tipoConsulta }}</span>
          </div>

          @if (possuiMotivosCancelamentoIndeferimento) {
            <hr />
            <p-fieldset
              [legend]="consulta?.statusConsulta?.toString() === 'CANCELADO' ? 'Motivo Cancelamento' : 'Motivo Indeferimento'"
              [toggleable]="true"
            >
              <div class="input-group">
                <textarea
                  disabled
                  rows="5"
                  pTextarea
                  [value]="consulta?.statusConsulta?.toString() === 'CANCELADO' ? detalhes?.motivoCancelamento : detalhes?.motivoIndeferimento"
                ></textarea>
              </div>
            </p-fieldset>
          }

          <hr />
          <div class="inputs">
            <div class="input-group">
              <label for="tipoConsulta">Tipo da Consulta</label>
              <input type="text" disabled pInputText [value]="consulta?.tipoConsulta" />
            </div>
            <div class="input-group">
              <label for="dataHoraConsulta">Data e Hora da Consulta</label>
              <input type="text" disabled pInputText [value]="consulta?.dataHoraConsulta | date: 'dd/MM/yyyy - HH:mm'" />
            </div>
            <div class="input-group">
              <label for="iniciadoEm">Iniciado em</label>
              <input type="text" disabled pInputText [value]="detalhes?.iniciadoEm" />
            </div>
            <div class="input-group">
              <label for="finalizadoEm">Finalizado em</label>
              <input type="text" disabled pInputText [value]="detalhes?.finalizadoEm" />
            </div>
            <div class="input-group">
              <label for="dataCancelamento">Data de Cancelamento</label>
              <input type="text" disabled pInputText [value]="detalhes?.dataCancelamento" />
            </div>
            <div class="input-group">
              <label for="dataDeferimento">Data de Deferimento</label>
              <input type="text" disabled pInputText [value]="detalhes?.dataDeferimento" />
            </div>
            <div class="input-group">
              <label for="observacoes">Observações</label>
              <textarea
                id="observacoes"
                disabled
                rows="5"
                pTextarea
                [value]="detalhes?.observacoes || 'Nenhuma observação registrada.'"
              ></textarea>
            </div>
          </div>
        </div>
      </p-tabpanel>

      <!-- Participantes -->
      <p-tabpanel value="1">
        <p-fieldset legend="Veterinário" [toggleable]="true">
          <div class="participante">
            <div class="foto"></div>
            <h4>{{ consulta?.veterinarioConsulta }}</h4>
          </div>
        </p-fieldset>
        <hr />
        <p-fieldset legend="Atendente" [toggleable]="true">
          <div class="participante">
            <div class="foto"></div>
            <h4>{{ detalhes?.atendente }}</h4>
          </div>
        </p-fieldset>
        <hr />
        <p-fieldset legend="Pet" [toggleable]="true">
          <div class="participante">
            <div class="foto"></div>
            <h4>{{ consulta?.petConsulta }}</h4>
          </div>
        </p-fieldset>
      </p-tabpanel>

      <!-- Pagamento -->
      <p-tabpanel value="2">
        @if (pagamento) {
          @if (pagamento.atrasado) {
            <div class="pagamento-atrasado">
              <div class="atrasado">
                <i class="pi pi-exclamation-triangle"></i>
                <span>Pagamento Atrasado!</span>
              </div>
            </div>
          }

          <div class="forma-pagamento-status">
            <div class="input-group">
              <label for="formaPagamento">Forma de Pagamento</label>
              <p-select
                [options]="formasPagamento"
                [(ngModel)]="pagamento.forma"
                optionLabel="label"
                optionValue="value"
                placeholder="Forma de Pagamento"
                appendTo="body"
                [disabled]="!podeAlterarFormaPagamento"
              />
            </div>
            <span [ngClass]="pagamento.status.toLowerCase()">
              {{ pagamento.status.toString() | titlecase }}
            </span>
          </div>

          <div class="informacoes-pagamento">
            <div class="input-group">
              <label for="dataPagamento">Data de Pagamento</label>
              <input type="text" disabled pInputText [value]="pagamento.dataPagamento" />
            </div>
            <div class="input-group">
              <label for="dataLimitePagamento">Data Limite de Pagamento</label>
              <input type="text" disabled pInputText [value]="pagamento.dataLimite" />
            </div>
            <div class="input-group">
              <label for="valor">Valor da Consulta</label>
              <input type="text" disabled pInputText [value]="pagamento.valor" />
            </div>
          </div>

          <p-fieldset legend="Comprovante" [toggleable]="pagamento.comprovante.length > 0">
            @if (pagamento.comprovante.length === 0) {
              @if (pagamento.forma === "PIX") {
                <span class="sem-resultados">Nenhum comprovante enviado!</span>
              } @else {
                <span class="sem-resultados">Esse modo de pagamento ainda não possui comprovante!</span>
              }
              <br />
            }
            @if (pagamento.status !== "APROVADO" && pagamento.forma === "PIX") {
              <div class="comprovante">
                <p-button
                  pTooltip="Enviar Comprovante"
                  severity="success"
                  icon="pi pi-send"
                  [disabled]="novoComprovante === null"
                  (click)="registrarNovoComprovante()"
                />
                <p-button
                  pTooltip="Baixar Comprovante"
                  severity="info"
                  icon="pi pi-download"
                  [disabled]="pagamento.comprovante.length === 0"
                  (click)="baixarComprovante()"
                />
                <p-fileupload
                  #fu
                  mode="basic"
                  chooseLabel="Selecionar Arquivo/Foto"
                  chooseIcon="pi pi-upload"
                  [multiple]="false"
                  [fileLimit]="1"
                  accept="image/*, application/pdf"
                  maxFileSize="1000000"
                  [auto]="true"
                  (onSelect)="carregarArquivo($event)"
                >
                  <ng-template pTemplate="empty"></ng-template>
                </p-fileupload>
              </div>
            }
          </p-fieldset>

          @if (getFormaPagamentoAtual !== null && getFormaPagamentoAtual !== pagamento.forma) {
            <br />
            <p-button
              label="Alterar Forma de Pagamento"
              severity="info"
              icon="fa fa-edit"
              [style]="{ width: '100%' }"
              (click)="alterarFormaPagamento()"
            />
          }

          @if (pagamento.status === "REPROVADO") {
            <div class="input-group">
              <label for="motivoIndeferimento">Motivo Indeferimento</label>
              <input type="text" disabled pInputText [value]="pagamento.motivoIndeferimento" />
            </div>
          }
        }
      </p-tabpanel>

      <!-- Avaliação -->
      <p-tabpanel value="3">
        <p class="legenda">Gostaria de avaliar o profissional que realizou a consulta?</p>
        <div class="formulario-avaliacao-consulta">
          <div class="input-group">
            <label for="pontuacao">Pontuação</label>
            <p-rating stars="5" [(ngModel)]="avaliacao.pontuacao" [disabled]="jaAvaliado" />
          </div>
          <hr />
          <div class="input-group">
            <label for="observacoesAvaliacao">Observações</label>
            <textarea
              id="observacoesAvaliacao"
              rows="5"
              pTextarea
              [(ngModel)]="avaliacao.observacoes"
              [disabled]="jaAvaliado"
              placeholder="Digite aqui suas observações caso tenha..."
              style="max-height: 250px; resize: none"
            ></textarea>
          </div>
        </div>
        <p-button
          label="Enviar Avaliação"
          icon="fa fa-send"
          severity="success"
          [style]="{ width: '100%' }"
          [disabled]="!avaliacao.pontuacao || jaAvaliado"
          (click)="avaliarConsulta()"
        />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</p-dialog>