<p-toast></p-toast>
<main>
  <section class="minhas-consultas">
    <p-fieldset legend="Consultas Agendadas" [toggleable]="false">
      @if (consultasPendentesConfirmadas.length > 0) {
        <p-dataview
          [value]="consultasPendentesConfirmadas"
          [rows]="4"
          [paginator]="true"
        >
          <ng-template #list let-consultas>
            <div class="consultas">
              @for (consulta of consultas; track consulta.id) {
                <div class="consulta-card">
                  <div
                    style="
                      min-width: 200px;
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      gap: 0.5rem;
                    "
                  >
                    <div class="body-card">
                      <app-bag-status-consulta
                        [status]="consulta.statusConsulta"
                      ></app-bag-status-consulta>
                      <strong
                        >Veterinário: {{ consulta.veterinarioConsulta }}</strong
                      >
                      <span class="tipo-consulta">{{
                        consulta.tipoConsulta
                      }}</span>
                    </div>
                    <hr />
                    <div>
                      <span class="solicitado-em"
                        >Data e Hora da Consulta:
                        {{
                          consulta.dataHoraConsulta | date: "dd/MM/yyyy - HH:mm"
                        }}</span
                      >
                    </div>
                  </div>
                  <p-button
                    label="Ver"
                    icon="fa fa-eye"
                    severity="secondary"
                    (click)="selecionarConsulta(consulta)"
                  />
                </div>
              }
            </div>
          </ng-template>
        </p-dataview>
      } @else {
        <span class="sem-resultados"
          >Nenhuma consulta agendada no momento.</span
        >
      }
    </p-fieldset>
    <p-fieldset legend="Histórico de Consultas" [toggleable]="false">
      @if (historicoConsultas.length > 0) {
        <p-dataview [value]="historicoConsultas" [rows]="4" [paginator]="true">
          <ng-template #list let-consultas>
            <div class="consultas">
              @for (consulta of consultas; track consulta.id) {
                <div class="consulta-card">
                  <div
                    style="
                      min-width: 200px;
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      gap: 0.5rem;
                    "
                  >
                    <div class="body-card">
                      <app-bag-status-consulta
                        [status]="consulta.statusConsulta"
                      ></app-bag-status-consulta>
                      <strong
                        >Veterinário: {{ consulta.veterinarioConsulta }}</strong
                      >
                      <span class="tipo-consulta">{{
                        consulta.tipoConsulta
                      }}</span>
                    </div>
                    <hr />
                    <div>
                      <span class="solicitado-em"
                        >Data e Hora da Consulta:
                        {{
                          consulta.dataHoraConsulta | date: "dd/MM/yyyy - HH:mm"
                        }}</span
                      >
                    </div>
                  </div>
                  <p-button
                    label="Ver"
                    icon="fa fa-eye"
                    severity="secondary"
                    (click)="selecionarConsulta(consulta)"
                  />
                </div>
              }
            </div>
          </ng-template>
        </p-dataview>
      }
    </p-fieldset>
  </section>
  <section class="solicitacoes">
    <p-fieldset legend="Consultas Pendentes" [toggleable]="false">
      @if (consultasPendentes.length > 0) {
        <p-dataview [value]="consultasPendentes" [rows]="4" [paginator]="true">
          <ng-template #list let-consultas>
            <div class="consultas">
              @for (consulta of consultas; track consulta.id) {
                <div class="consulta-card">
                  <div
                    style="
                      min-width: 200px;
                      flex: 1;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      gap: 0.5rem;
                    "
                  >
                    <div class="body-card">
                      <app-bag-status-consulta
                        [status]="consulta.statusConsulta"
                      ></app-bag-status-consulta>
                      <span class="tipo-consulta">{{
                        consulta.tipoConsulta
                      }}</span>
                    </div>
                    <hr />
                    <div>
                      <span class="solicitado-em"
                        >Data e Hora da Consulta:
                        {{
                          consulta.dataHoraConsulta | date: "dd/MM/yyyy - HH:mm"
                        }}</span
                      >
                    </div>
                  </div>
                  <p-button
                    label="Ver"
                    icon="fa fa-eye"
                    severity="secondary"
                    (click)="selecionarConsulta(consulta)"
                  />
                </div>
              }
            </div>
          </ng-template>
        </p-dataview>
      } @else {
        <span class="sem-resultados"
          >Nenhuma consulta pendente no momento.</span
        >
      }
    </p-fieldset>
    <p-button
      label="Agendar Consulta"
      icon="pi pi-plus"
      [style]="{ width: '100%' }"
      severity="success"
      (click)="visibilidadeDialogAgendamento = true"
    />
  </section>
</main>
<p-dialog
  [header]="!cancelandoConsulta ? 'Detalhes Consulta' : 'Cancelar Consulta'"
  [(visible)]="visibilidadeDialogDetalhesConsulta"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50vw' }"
  (onHide)="fecharDialogDetalhesConsulta()"
>
  @if (!cancelandoConsulta) {
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">Informações</p-tab>
        <p-tab value="1">Participantes</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel value="0">
          <div class="informacoes">
            <div class="bags">
              <app-bag-status-consulta
                [status]="consultaSelecionada?.statusConsulta"
              ></app-bag-status-consulta>
              <span class="tipo-consulta">{{
                consultaSelecionada?.tipoConsulta
              }}</span>
            </div>
            @if (possuiMotivosCancelamentoIndeferimento) {
              <hr />
              <p-fieldset
                [legend]="
                  consultaSelecionada?.statusConsulta === 'CANCELADO'
                    ? 'Motivo Cancelamento'
                    : 'Motivo Indeferimento'
                "
                [toggleable]="true"
              >
                <div class="input-group">
                  <textarea
                    disabled
                    [value]="
                      consultaSelecionada?.statusConsulta === 'CANCELADO'
                        ? detalhesConsultaSelecionada?.motivoCancelamento
                        : detalhesConsultaSelecionada?.motivoIndeferimento
                    "
                    pInputTextarea
                    rows="5"
                  ></textarea>
                </div>
              </p-fieldset>
            }
            <hr />
            <div class="inputs">
              <div class="input-group">
                <label for="tipoConsulta">Tipo da Consulta</label>
                <input
                  type="text"
                  disabled
                  [value]="consultaSelecionada?.tipoConsulta"
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="dataHoraConsulta">Data e Hora da Consulta</label>
                <input
                  type="text"
                  disabled
                  [value]="
                    consultaSelecionada?.dataHoraConsulta
                      | date: 'dd/MM/yyyy - HH:mm'
                  "
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="iniciadoEm">Iniciado em</label>
                <input
                  type="text"
                  disabled
                  [value]="detalhesConsultaSelecionada?.iniciadoEm"
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="finalizadoEm">Finalizado em</label>
                <input
                  type="text"
                  disabled
                  [value]="detalhesConsultaSelecionada?.finalizadoEm"
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="dataCancelamento">Data de Cancelamento</label>
                <input
                  type="text"
                  disabled
                  [value]="detalhesConsultaSelecionada?.dataCancelamento"
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="dataDeferimento">Data de Deferimento</label>
                <input
                  type="text"
                  disabled
                  [value]="detalhesConsultaSelecionada?.dataDeferimento"
                  pInputText
                />
              </div>
              <div class="input-group">
                <label for="observacoes">Observações</label>
                <textarea
                  id="observacoes"
                  disabled
                  [value]="
                    detalhesConsultaSelecionada?.observacoes ||
                    'Nenhuma observação registrada.'
                  "
                  pInputTextarea
                  rows="5"
                ></textarea>
              </div>
            </div>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <p-fieldset legend="Veterinario" [toggleable]="true">
            <div class="participante">
              <div class="foto"></div>
              <h4>{{ consultaSelecionada?.veterinarioConsulta }}</h4>
            </div>
          </p-fieldset>
          <hr />
          <p-fieldset legend="Atendente" [toggleable]="true">
            <div class="participante">
              <div class="foto"></div>
              <h4>{{ detalhesConsultaSelecionada?.atendente }}</h4>
            </div>
          </p-fieldset>
          <hr />
          <p-fieldset legend="Pet" [toggleable]="true">
            <div class="participante">
              <div class="foto"></div>
              <h4>{{ consultaSelecionada?.petConsulta }}</h4>
            </div>
          </p-fieldset>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  } @else {
    <textarea
      name="motivoCancelamento"
      id="motivoCancelamento"
      pInputTextarea
      rows="5"
      placeholder="Digite o motivo do cancelamento..."
      [(ngModel)]="motivoCancelamento"
      style="max-height: 250px"
    ></textarea>
  }
  <hr />
  <p-button
    [label]="
      !consultaPodeSerCancelada
        ? 'Consulta não pode ser cancelada'
        : cancelandoConsulta
          ? 'Não Cancelar Consulta'
          : 'Cancelar Consulta'
    "
    [severity]="cancelandoConsulta ? 'info' : 'danger'"
    icon="pi pi-times"
    (click)="cancelarConsulta()"
    [disabled]="!consultaPodeSerCancelada"
  />
  @if (cancelandoConsulta) {
    <p-button
      [disabled]="!motivoCancelamento"
      icon="pi pi-check"
      [style]="{ marginLeft: '0.5rem' }"
      label="Confirmar Cancelamento"
      severity="danger"
      (click)="confirmarCancelamento()"
    />
  }
</p-dialog>
<p-dialog
  header="Agendar Consulta"
  [(visible)]="visibilidadeDialogAgendamento"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50vw' }"
>
  <p-stepper [value]="1" [linear]="true">
    <p-step-list>
      <p-step [value]="1">Detalhes Consulta</p-step>
      <p-step [value]="2">Veterinário</p-step>
      <p-step [value]="3">Solicitar Agendamento</p-step>
    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="tipo-consulta">
            <p-select
              [options]="tiposConsulta"
              appendTo="body"
              optionLabel="nome"
              placeholder="Selecione o tipo de consulta"
              (onChange)="selecionarTipoConsulta($event.value)"
              [(ngModel)]="tipoConsultaSelecionado"
            />
            @if (tipoConsultaSelecionado) {
              <hr />
              <p-fieldset
                legend="Informações do Tipo da Consulta"
                [toggleable]="false"
              >
                <div class="informacos-tipo-consulta">
                  <span>
                    {{ tipoConsultaSelecionado.nome }}
                  </span>
                  <span>
                    {{ tipoConsultaSelecionado.descricao }}
                  </span>
                  <span>
                    {{ tipoConsultaSelecionado.valor | currency: "BRL" }}
                  </span>
                </div>
              </p-fieldset>
            }
          </div>
          <div style="display: flex; justify-content: flex-end; gap: 1rem">
            <p-button
              label="Avançar"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(2); listarVeterinariosTipoConsulta()"
              [disabled]="!tipoConsultaSelecionado"
            />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="veterinario-consulta">
            <p-select
              [options]="veterinarios"
              appendTo="body"
              optionLabel="nome"
              placeholder="Selecione um veterinário"
              [(ngModel)]="veterinarioSelecionado"
              (onChange)="selecionarVeterinario($event.value)"
            />
            @if (veterinarioSelecionado) {
              <p-fieldset legend="Veterinário Selecionado" [toggleable]="false">
                <div class="informacoes-veterinario">
                  <span>
                    {{ veterinarioSelecionado.nome }}
                  </span>
                  <span id="avaliacao">
                    <i class="fa-solid fa-star"></i
                    >{{
                      typeof veterinarioSelecionado.avaliacao === "number"
                        ? veterinarioSelecionado.avaliacao
                        : "Sem Avaliação"
                    }}
                  </span>
                  <span>
                    {{ veterinarioSelecionado.especializacoes }}
                  </span>
                </div>
              </p-fieldset>
              <hr />
              <p-fieldset legend="Data e Hora da Consulta" [toggleable]="false">
                <div class="data-hora">
                  <p-datepicker
                    [style]="{ width: '100%' }"
                    appendTo="body"
                    placeholder="Selecione a data da consulta"
                    dateFormat="dd/mm/yy"
                    [minDate]="dataMinima"
                    [(ngModel)]="dataConsulta"
                    (ngModelChange)="selecionarData($event)"
                  />

                  <p-select
                    [options]="horariosDisponiveis"
                    [(ngModel)]="horarioConsulta"
                    placeholder="Selecione o horário"
                    appendTo="body"
                    [disabled]="
                      !dataConsulta || horariosDisponiveis.length === 0
                    "
                  />
                </div>
              </p-fieldset>
            }
          </div>
          <div style="display: flex; justify-content: flex-end; gap: 1rem">
            <p-button
              label="Voltar"
              icon="pi pi-arrow-left"
              iconPos="right"
              (onClick)="activateCallback(1)"
              [severity]="'secondary'"
            />
            <p-button
              label="Avançar"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="activateCallback(3)"
              [disabled]="
                !veterinarioSelecionado || !horarioConsulta || !dataConsulta
              "
            />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <p-select
            [options]="pets"
            appendTo="body"
            optionLabel="label"
            optionValue="value"
            placeholder="Selecione um pet"
            [(ngModel)]="idPetSelecionado"
          />
          <textarea
            name="observacoes"
            id="observacoes"
            placeholder="Observações sobre a consulta..."
            [(ngModel)]="observacoes"
            pTextarea
          ></textarea>
          <hr />
          <div style="display: flex; justify-content: space-between; gap: 1rem">
            <p-button
              label="Voltar"
              icon="pi pi-arrow-left"
              iconPos="right"
              (onClick)="activateCallback(2)"
              [severity]="'secondary'"
            />
            <p-button
              label="Confirmar Agendamento"
              icon="pi pi-check"
              iconPos="right"
              [severity]="'success'"
              (onClick)="agendarConsulta()"
              [disabled]="
                !veterinarioSelecionado ||
                !horarioConsulta ||
                !dataConsulta ||
                !idPetSelecionado
              "
            />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</p-dialog>
