<p-toast/>
<main>
  <p-fieldset legend="Filtros" [toggleable]="false">
    <div class="filtros">
      <div class="inputs">
        <div class="input-group">
          <label for="nome">Nome do Pet</label>
          <input
            [(ngModel)]="filtros.nome"
            type="text"
            pInputText
            id="nome"
            placeholder="Digite o nome do pet"
            (input)="filtrarPets()"
            [disabled]="carregandoPets"
          />
        </div>
        <div class="input-group">
          <label for="tipo">Tipo</label>
          <p-select
            appendTo="body"
            [(ngModel)]="filtros.tipo"
            placeholder="Selecione o tipo do pet"
            [options]="tipoAnimalOpcoes"
            optionLabel="label"
            optionValue="value"
            (onChange)="filtrarPets()"
            [disabled]="carregandoPets"
          >
          </p-select>
        </div>
        <div class="input-group">
          <label for="genero">Gênero</label>
          <p-select
            appendTo="body"
            [(ngModel)]="filtros.genero"
            placeholder="Selecione o gênero do pet"
            [options]="generosOpcoes"
            optionLabel="label"
            optionValue="value"
            (onChange)="filtrarPets()"
            [disabled]="carregandoPets"
          >
          </p-select>
        </div>
        <div class="input-group">
          <label for="genero">Tutor</label>
          <p-select
            appendTo="body"
            [(ngModel)]="filtros.idTutor"
            placeholder="Selecione um tutor"
            [options]="tutores"
            optionLabel="label"
            optionValue="value"
            (onChange)="filtrarPets()"
            [disabled]="
              carregandoPets || carregandoTutores || tutores.length === 0
            "
          >
          </p-select>
        </div>
      </div>
      <div class="btns">
        <p-button
          label="Limpar Filtros"
          severity="danger"
          icon="fa fa-eraser"
          (click)="limparFiltros()"
          [disabled]="carregandoPets"
        />
        <p-button
          [label]="
            carregandoRelatorio ? 'Gerando Relatório...' : 'Gerar Relatório'
          "
          severity="success"
          [icon]="carregandoRelatorio ? 'pi pi-spin pi-spinner' : 'fa fa-file'"
          (click)="gerarRelatorio()"
          [disabled]="carregandoPets || carregandoRelatorio"
        />
      </div>
    </div>
  </p-fieldset>
  <hr />
  @if (carregandoPets) {
    <p-skeleton height="450px"></p-skeleton>
  } @else {
    <p-fieldset legend="Pets da Clinica" [toggleable]="false">
      <p-dataview
        [value]="petsFiltrados"
        [style]="{ width: '100%' }"
        [rows]="5"
        [paginator]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Exibindo {first} de {last} de {totalRecords}"
        [rowsPerPageOptions]="[10, 20, 30]"
      >
        <ng-template #list let-items>
          <section class="lista-pets">
            @for (pet of items; track pet.id) {
              <div [class]="'card-pets ' + pet.genero.toLowerCase()">
                <div class="imagem-pet"></div>
                <div class="informacoes">
                  <div class="header">
                    <h3>{{ pet.nome }}</h3>
                    <strong
                      ><i class="fa fa-user"></i>{{ pet.tutor.nome }}</strong
                    >
                  </div>
                  <div class="outras">
                    <app-genero-bag [genero]="pet.genero"></app-genero-bag>
                    <app-tipo-pet-bag [tipo]="pet.tipo"></app-tipo-pet-bag>
                    <span
                      >Registrado em
                      {{ pet.registradoEm | date: "dd/MM/yyyy" }}</span
                    >
                  </div>
                </div>
                <button
                  pButton
                  [severity]="'secondary'"
                  icon="fa fa-paw"
                  (click)="verDetalhesPet(pet.id)"
                >
                  Acessar Pet
                </button>
              </div>
            }
          </section>
        </ng-template>
        <ng-template #paginatorleft>
          <p-button
            label="Adicionar Novo Pet"
            icon="fa fa-paw"
            severity="success"
            (click)="visibilidadeDialogNovoPet = true"
          />
        </ng-template>
        <ng-template #emptymessage>
          <span class="sem-resultados">Nenhum pet encontrado!</span>
        </ng-template>
      </p-dataview>
    </p-fieldset>
  }
</main>
<p-dialog
  [(visible)]="visibilidadeDialogNovoPet"
  [header]="'Adicionar Novo Pet'"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [modal]="true"
>
  @if (!novoPetForm) {
    <p-skeleton height="200px"></p-skeleton>
  } @else {
    <form [formGroup]="novoPetForm">
      <p-stepper [value]="1" [linear]="true">
        <p-step-list>
          <p-step [value]="1">Informações Básicas</p-step>
          <p-step [value]="2">Informações Adicionais</p-step>
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="inputs">
                <div class="input-group">
                  <label for="nome">Nome do Pet</label>
                  <input
                    type="text"
                    pInputText
                    id="nome"
                    formControlName="nome"
                    placeholder="Digite o nome do pet"
                  />
                </div>
                <div class="input-group">
                  <label for="raca">Raça do Pet</label>
                  <input
                    type="text"
                    pInputText
                    id="raca"
                    formControlName="raca"
                    placeholder="Digite a raça do pet"
                  />
                </div>

                <div class="input-group metade">
                  <label for="tipo">Tipo do Pet</label>
                  <p-select
                    appendTo="body"
                    id="tipo"
                    formControlName="tipo"
                    placeholder="Selecione o tipo do pet"
                    [options]="tipoAnimalOpcoesForm"
                    optionLabel="label"
                    optionValue="value"
                  >
                  </p-select>
                </div>
                <div class="input-group metade">
                  <label for="genero">Gênero do Pet</label>
                  <p-select
                    appendTo="body"
                    id="genero"
                    formControlName="genero"
                    placeholder="Selecione o gênero do pet"
                    [options]="generosOpcoesForm"
                    optionLabel="label"
                    optionValue="value"
                  >
                  </p-select>
                </div>
              </div>
              <div class="acoes">
                <p-button
                  label="Avançar"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  severity="success"
                  [disabled]="!primeiraEtapaNovoPetValida"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>

          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="inputs">
                  <div class="input-group">
                    <label for="idTutor">Tutor do Pet</label>
                    <p-select
                      appendTo="body"
                      id="idTutor"
                      formControlName="idTutor"
                      placeholder="Selecione o tutor do pet"
                      [options]="tutoresForm"
                      optionLabel="label"
                      optionValue="value"
                      fluid
                    >
                    </p-select>
                  </div>
                  <div class="input-group">
                    <label for="dataNascimento">Data de Nascimento</label>
                    <p-datepicker
                      id="dataNascimento"
                      formControlName="dataNascimento"
                      placeholder="Selecione a data de nascimento do pet"
                      [showIcon]="true"
                      yearRange="1900:2024"
                      dateFormat="dd/mm/yy"
                      appendTo="body"
                      [maxDate]="dataLimiteNascimento"
                      fluid
                    >
                    </p-datepicker>
                  </div>
                  <div class="input-group">
                    <label for="observacoes">Observações</label>
                    <textarea
                      pInputTextarea
                      id="observacoes"
                      formControlName="observacoes"
                      placeholder="Digite observações sobre o pet"
                      rows="5"
                      autoResize
                    ></textarea>
                    </div>
              </div>
              <div class="acoes multi">
                <p-button
                  label="Voltar"
                  severity="secondary"
                  icon="pi pi-arrow-left"
                  (onClick)="activateCallback(1)"
                />
                <p-button
                  [disabled]="!podeRegistrarNovoPet"
                  severity="success"
                  label="Adicionar Pet"
                  icon="pi pi-plus"
                  iconPos="right"
                  (onClick)="registrarNovoPet()"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </form>
  }
</p-dialog>
