@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "primeicons/primeicons.css";
@import "app/shared/styles/ThemesCollors.scss";
@import "app/shared/styles/PrimengEstilizacao";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--background);
}

body {
  overflow-x: hidden !important;
  width: 100vw;
}

.input-group {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
  margin-bottom: 1em;
}

span.sem-resultados {
  padding: 0.5rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-fieldset {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid var(--color-border);
  margin: 1rem 0;
}

.p-fieldset {
  border: 1px solid var(--color-border) !important;
  background-color: var(--card) !important;
  gap: 1rem !important;

  .p-fieldset-legend {
    color: var(--color-title) !important;
    font-weight: 600 !important;
    margin-bottom: 0.5rem !important;
  }
}

.loading {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  gap: 0.5rem;
}

span.invalid-data {
  color: var(--color-danger);
  font-weight: 600;
  font-size: 14px;
}
.invalid-data {
  color: var(--color-danger);
}