<p-confirmdialog />
<main>
  <section class="informacoes">
    @if (funcionario === null) {
      @if (carregandoFuncionario) {
        <p-skeleton height="100px"></p-skeleton>
      } @else {
        <span class="sem-resultados">Nenhum funcionario encontrado!</span>
      }
    } @else {
      <p-fieldset legend="Detalhes do Funcionario">
        <div class="informacoes-funcionario">
          <div class="imagem"></div>
          <div class="informacoes">
            <div class="header">
              <h3>{{ funcionario.nome }}</h3>
              <span>{{ funcionario.permissao }}</span>
            </div>
            <hr />
            <div class="outras">
              <span>Email: {{ funcionario.email }}</span>
              <span>CPF: {{ funcionario.cpf | converterCpf }}</span>
              <span>Registrado em {{ funcionario.dataCadastro }}</span>
              <span>Data de Nascimento {{ funcionario.dataNascimento }}</span>
              <span>Telefone: {{ funcionario.telefone }}</span>
              <span class="genero">
                <app-genero-bag [genero]="funcionario.genero"></app-genero-bag>
              </span>
            </div>
          </div>
        </div>
        <div class="acoes">
          <p-button
            label="Desativar Funcionario"
            severity="danger"
            (click)="ativarConfirmDialog()"
            [icon]="
              desativandoFuncionario
                ? 'fa fa-spin fa-spinner'
                : 'fa fa-user-minus'
            "
            [disabled]="
              carregandoFuncionario ||
              desativandoFuncionario ||
              funcionario.statusPerfil === 'D'
            "
          />
        </div>
      </p-fieldset>
    }
  </section>
  @if (funcionario === null) {
  } @else {
    @if (
      funcionario.permissao === "ATENDENTE" ||
      funcionario.permissao === "VETERINARIO"
    ) {
      <hr />
      @if (avaliacoes.length === 0) {
        @if (carregandoAvaliacoes) {
          <p-skeleton height="300px"></p-skeleton>
        } @else {
          <span class="sem-resultados">Nenhuma avaliação encontrada</span>
        }
      } @else {
        <p-fieldset legend="Avaliações" [toggleable]="false">
          <div class="lista-avaliacoes">
            @for (avaliacao of avaliacoes; track avaliacao.id) {
              <div class="avaliacao-card">
                <span>{{ avaliacao.remetente }}</span>
                <p>
                  {{ avaliacao.mensagem }}
                </p>
                <strong
                  >Nota: {{ avaliacao.pontuacao }}
                  <i class="fa-solid fa-star"></i>
                </strong>
              </div>
            }
          </div>
        </p-fieldset>
      }
    }
  }
  @if (funcionario === null) {
  } @else {
    @if (
      funcionario.permissao === "ATENDENTE" ||
      funcionario.permissao === "VETERINARIO"
    ) {
      <hr />
      @if (consultas.length === 0) {
        @if (carregandoConsultas) {
          <p-skeleton height="300px"></p-skeleton>
        } @else {
          <span class="sem-resultados">Nenhuma consulta encontrada</span>
        }
      } @else {
        <p-fieldset legend="Consultas" [toggleable]="false">
          <div class="lista-consultas">
            @for (consulta of consultas; track consulta.id) {
              <div class="consulta-card">
                <div
                  style="
                    min-width: 200px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                  "
                >
                  <div class="body-card">
                    <span class="tipo-consulta">{{ consulta.tipo }}</span>
                    <app-bag-status-consulta
                      [status]="consulta.status"
                    ></app-bag-status-consulta>
                  </div>
                  <p>
                    {{ consulta.observacoes }}
                  </p>
                  <div>
                    <span class="solicitado-em"
                      >Data e Hora da Consulta:
                      {{ consulta.dataConsulta }}</span
                    >
                  </div>
                </div>
                <p-button
                  label="Ver"
                  icon="fa fa-eye"
                  severity="secondary"
                  (click)="verDetalhesConsulta(consulta.id)"
                />
              </div>
            }
          </div>
        </p-fieldset>
      }
    } @else if (funcionario.permissao === "ESTOQUISTA") {
      <hr />
      @if (movimentacoes.length === 0) {
        @if (carregandoMovimentacoes) {
          <p-skeleton height="300px"></p-skeleton>
        } @else {
          <span class="sem-resultados">Nenhuma movimentação encontrada</span>
        }
      } @else {
        <p-fieldset legend="Movimentações" [toggleable]="false">
          <div class="lista-movimentacoes">
            @for (movimentacao of movimentacoes; track movimentacao.id) {
              <div class="movimentacao-card">
                <div class="body-card">
                  <app-bag-tipo-movimentacao
                    [tipoMovimentacao]="movimentacao.tipo"
                  ></app-bag-tipo-movimentacao>
                  <strong>
                    {{ movimentacao.produto }}
                  </strong>
                  <div>
                    <span class="movimentado-em"
                      >Movimentado Em: {{ movimentacao.dataMovimentacao }}</span
                    >
                    <span class="quantidade">
                      Quantidade: {{ movimentacao.quantidade }}
                    </span>
                  </div>
                </div>
              </div>
            }
          </div>
        </p-fieldset>
      }
    }
  }
</main>
