.atual {
  flex: 1 1 calc(40% - 5rem);
  &.com-valor {
    border: none;
    padding: none !important;
    background-color: transparent;
  }

  &:first-child {
    flex: 1 1 calc(60% - 5rem);
  }

  .header-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin: 0;
      padding: 0;
    }

    span {
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      align-items: center;
    }

    span.badge {
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--card-hover);
      color: var(--primary);
      font-size: 1.2rem;
      border-radius: 16px;
    }
  }

  p {
    margin: 0.5rem 0;
    font-size: 14px;
  }

  .footer-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;

    .infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 14px;
      }
    }

    button {
      background-color: var(--color-inverted);
      color: var(--foreground);
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}
