@if (consulta !== null) {
  <div class="card">
    <app-imagem
      [urlImagem]="getUrlImagem(consulta)"
      [alt]="consulta.pet"
      [width]="'100'"
      [height]="'100'"
      [preview]="false"
      [imagemRedonda]="true"
    ></app-imagem>
    <div class="info">
      <span
        >{{ consulta.tipoConsulta }} -
        <app-bag-status-consulta
          [status]="consulta.status"
        ></app-bag-status-consulta
      ></span>
      <hr />
      <span class="info-pet"
        >{{ consulta.pet }} - {{ consulta.dataConsulta }}</span
      >
    </div>
    <p-button icon="pi pi-eye" (click)="acessarConsulta(consulta)" />
  </div>
}
